/* Banner Section */
#home-banner{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("images/home/home-banner.jpg");
	background-size: cover;
	height: 50em;
}

h1.heading.mb-3{
	font-size: 8em;
	font-family: 'Sofia', 'arial';
	color: #ffffff;	
}

button.btn a, button.btn a:visited{
	color: white;
}

.container-fluid{
    padding: 2em;
}

.row {
	margin: 2em;
}

.col-xs-12{
	padding: 1.0em;
	margin-bottom: 1.0em;
}

.col-xs-12 h2{
	font-size: 5em;
	color: #ff9b71;
	font-weight: bold;
	font-family: 'Sofia', 'Georgia', serif;
	text-align: center;
}

div.image-banner{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("images/home/image-banner.jpg");
	height: 20rem;
}

h3.image-heading{
	font-size: 4em;
	font-family: 'Sofia', 'arial';
	color: #ffffff;
	text-align: center;
}

p.image-text{
	font-size: 1.5em;
	font-family: 'Georgia', serif;
	color: #ffffff;
	text-align: center;
	font-style: italic;
}

p{
	font-size: 1.5em;
	font-family: 'Georgia', serif;
	color: #000000;
	padding: 1em;
}

div.info p{
	line-height: 4rem;
}

#has-error {
	color: red;
}

@media screen and (max-width: 1200px) {
    #home-banner {
		height: 40em;
    }

    h1.heading.mb-3{
		font-size: 6em;
	}

	.logo{
		width: 20em;
		height: 20em;
	}
}

@media screen and (max-width: 992px) {
    #home-banner {
		height: 35em;
	}

    h1.heading.mb-3{
		font-size: 4.0em;	
	}

	.logo{
		width: 15em;
		height: 15em;
	}
	
	h3.image-heading{
		font-size: 3.2em;
		padding: 0;
		margin-bottom: 1.0rem;
	}
	
}

@media screen and (max-width: 768px) {
    #home-banner {
		height: 25em;
    }

    h1.heading.mb-3{
		font-size: 3.5em;
		padding-bottom: 1rem !important;
	}

	.col-xs-12 h2{
		font-size: 4em;
	}
	.logo{
		width: 15em;
		height: 15em;
	}
	
	.col-xs-12 h1{
		font-size: 2em;
	}
	
	h3.image-heading{
		font-size: 3.2em;
		padding: 0;
		margin-bottom: 1.0rem;
	}

}

@media screen and (max-width: 576px) {
    #home-banner {
		height: 20em;
    }

    h1.heading.mb-3{
		font-size: 2.5;
	}
	
	.logo{
		width: 10em;
		height: 10em;
	}
	
	.hidden{
		display:none;
	}
	
	div.info p{
		line-height: 2rem;
	}
	
	p.image-text{
		font-size: 1.0em;
		padding: 0;
	}
	
	h3.image-heading{
		font-size: 2.5em;
		padding: 0;
		margin-bottom: 1.0rem;
	}

}