body {
    background-color: white;
    height: 100%;
	font-family: 'Georgia', sans-serif;
}

.container-fluid{
    padding: 2em;
}

.row {
	margin: 2em;
}

.col-xs-12{
	padding: 1.0em;
	margin-bottom: 1.0em;
}


/*Footer*/
h1{
    font-family: 'Sofia';
}

footer{
	background-color: rgba(0,0,0,0.75);
	height: 16rem;
	padding: 0;
}

div.overlay{
	position: absolute;
	right: 0%;
	background: linear-gradient(to right,#ffdc7c, white 95%);
	width: 30%;
	height: inherit;
}

footer h3{
	font-family: 'Sofia', 'Georgia', serif;
	color: #ff9b71;
	font-weight: bold;
	font-size: 2.5rem;
}

footer p{
	position:relative;
	padding:0;
	color: #ffdc7c;
	font-weight:italic;
	font-size: 1rem;
}

div.social-media p{
	font-size: 1.5rem;
	color: gray;
}

i.fa-home, i.fa-cutlery, i.fa-briefcase{
	color: #ff9b71;
}
@media screen and (max-width: 992px) {
	
	div.social-media p{
		font-size: 1.5rem;
		color: white;
	}
		
	button.navbar-toggler {
		color: #ff9b71 !important;
		border: 1px solid white;
		background-color: white;
		border-radius: 20em;
	}
	
	div#navbarSupportedContent{
		color: #ff9b71 !important;
		background-color: rgba(255, 255, 255, 0.98);
		border-radius: 2em;
	}
	
	a.nav-link {
		color: #ff9b71 !important;
	}
	
	.btn-outline-white, .btn-outline-white:visited {
		background: none;
		color: #ff9b71 !important;
		border-color: #fff; 
	}
}
@media screen and (max-width: 768px) {

	div.social-media p{
		font-size: 1.5rem;
		color: white;
	}	

	button.navbar-toggler {
		color: #ff9b71 !important;
		border: 1px solid white;
		background-color: white;
		border-radius: 20em;
	}
	
	div#navbarSupportedContent{
		color: #ff9b71 !important;
		background-color: rgba(255, 255, 255, 0.98);
		border-radius: 2em;
	}
	
	a.nav-link {
		color: #ff9b71 !important;
	}
	
	.btn-outline-white, .btn-outline-white:visited {
		background: none;
		color: #ff9b71 !important;
		border-color: #fff; 
	}
}

@media screen and (max-width: 576px) {
	.footer-hidden{
		display:none;
	}
	
	button.navbar-toggler {
		color: #ff9b71 !important;
		border: 1px solid white;
		background-color: white;
		border-radius: 20em;
	}
	
	div#navbarSupportedContent{
		color: #ff9b71 !important;
		background-color: rgba(255, 255, 255, 0.98);
		border-radius: 2em;
	}
	
	a.nav-link {
		font-size: 0.9rem;
		color: #ff9b71 !important;
	}
	
	.btn-outline-white, .btn-outline-white:visited {
		background: none;
		color: #ff9b71 !important;
		border-color: #fff; 
	}
}
