.container-fluid {
	width:100%;
}

body{
	font-family: Cocogoose Light,sans-serif;
	color: grey;
	text-align: center;
	margin: 0;
}

p {
	line-height:2;
	font-size: 15pt;
}

.back {
	background-image: url("images/sushiabout.jpg");
	background-attachment: fixed;
	background-position: center;	
	background-size: cover;
}
.top-opacity {
	background-color: white;
	opacity: 50%;
	min-height: 700px;
	max-height: 70%;
	
}

.article {
	background-color: #f5edd7;
	padding: 2em;
}

.title {
	margin:auto;
	padding: 2em;
}

.info {
	padding: 0 1em 1em 1em;
}
