.container-fluid {
	width:100%;
}

body{
	font-family: Cocogoose Light,sans-serif;
	color: grey;
	text-align: center;
	margin: 0;
}

p {
	line-height:2;
	font-size: 15pt;
	text-align: left;
}

.back {
	background-image: url("images/sushiabout.jpg");
	background-attachment: fixed;
	background-position: center;	
	background-size: cover;
}
.top-opacity {
	background-color: white;
	opacity: 50%;
	min-height: 700px;
	max-height: 70%;
	
}

.article {
	background-color: #f5edd7;
	padding: 2em;
}

.title {
	margin:auto;
	padding: 2em;
}

.info {
	padding: 0 1em 1em 1em;
}

.info h4{
	text-align: left;
	margin-left: 2em;
}

.pos {
	text-align: left;
	margin: 2rem;
}

.dropdown {
  position: relative;
  margin: 0.5em;

}

.dropdown-content {
  display: none;
  position: right;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}