/* Banner Section */
#menu-banner {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("images/menu/menu-banner.jpg");
	background-size: cover;
	height: 50em;
}

h1.heading.mb-3{
	font-size: 8em;
	font-family: 'Sofia', 'arial';
	color: #ffffff;	
}

p.sub-heading{
	font-size: 1.5em;
	font-family: 'georgia';
	color: #ffffff;
}
/* End of Section */

.container-fluid{
    padding: 2em;
}

.row {
	margin: 2em;
}

.col-xs-2{
	margin-bottom: 4em;
}

.col-xs-2 div{	
	position: relative;
	padding: 0.5em;
}


.col-xs-12{
	padding: 1.0em;
	margin-bottom: 1.0em;
}

.col-xs-12 h1{
	font-size: 5em;
	color: #ff9b71;
	font-weight: bold;
	font-family: 'Sofia', 'georgia';
	text-align: center;
}

/*For information on card: https://getbootstrap.com/docs/4.0/components/card/ */
/* Card CSS */
img.card-img-top{
	width: 24em;
	height: 15em;
}

h2.card-title.text-center{
	padding: 0.5em;
	font-size: 1.5em;
}

div.card-footer{

}

div.card-footer span.pricing{
	font-size: 1.5em;
}

div.card-footer button{
	margin-left: 20%;
}
/* End */

@media screen and (max-width: 992px){
	#menu-banner{
		height: 35em;
	}
	p.sub-heading{
		font-size: 1.2em;
	}

	/*Footer overlapped*/
	div.card-footer span.pricing{
		padding-top: 0.2em;
		font-size: 1.2em;
	}

	div.card-footer button{
		margin-left: 25%;
	}
}

@media screen and (max-width: 768px){
	#menu-banner{
		height: 25em;
	}
	p.sub-heading{
		font-size: 1.2em;
	}
	
	/*Card title too large */
	h2.card-title.text-center{
		padding: 0.5em;
		font-size: 1.5em;
	}
	
	/*Footer overlapped*/
	div.card-footer span.pricing{
		padding-top: 0.2em;
		font-size: 1.2em;
	}

	div.card-footer button{
		margin-left: 15%;
	}
}

@media screen and (max-width: 576px) {	
	#menu-banner{
		height: 20em;
	}
	
	h1.heading.mb-3{
	font-size: 3em;
	}
	
	p.sub-heading{
		font-size: 0.8em;
	}
	
	/*Control the menu banner bottom wording */
	div.col-md-8{
		padding:0;
	}
		
	/*Card title too large */
	h2.card-title.text-center{
		padding: 0.5em;
		font-size: 1.2em;
	}
	
	/*Footer overlapped*/
	div.card-footer span.pricing{
		padding-top: 0.2em;
		font-size: 1.0em;
	}

	div.card-footer button{
		margin-left: 15%;
	}
	
	button.btn.peach-gradient span.hidden{
		display: none;
	}
}