body {
   
}
/* Banner Section */
#menu-banner {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("images/banner/menu-banner.jpg");
	background-size: cover;
	height: 40em;
}
h2.heading.mb-3{
	font-size: 5em;
	font-family: 'Sofia', 'arial';
	color: #ffffff;	
}

p.sub-heading{
	font-size: 1.5em;
	font-family: 'georgia';
	color: #ffffff;
}

.container-fluid{
    padding: 2em;
}

.row {
	margin: 2em;
}
.col-xs-2{
	margin-bottom: 4em;
}

.col-xs-2 img{
	width: 15em;
	height: 10em;	
}

.col-xs-12 h1{
	font-size: 5em;
	color: #ff9b71;
	font-weight: bold;
	font-family: 'Sofia', 'arial';
	text-align: center;
}

.col-xs-*::after {
	content: '';
	clear: both;
	display: block;
}

.col-xs-12{
	padding: 1.0em;
	margin-bottom: 1.0em;
}

/*For hovering effect on image credit = https://codepen.io/nxworld/pen/ZYNOBZ */
.col-xs-2 div figure {
	position: relative;
	width: 15em;
	height: 10em;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.col-xs-2 div span {
	position: absolute;
	bottom: -0.5em;
	left: 0;
	z-index: -1;
	display: block;
	width: 15em;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 1em;
	font-family: 'georgia','arial';
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

.col-xs-2 div{	
	position: relative;
	padding: 0.5em;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

.col-xs-2 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.col-xs-2 figure:hover img {
	opacity: .5;
}

@media screen and (max-width: 992px){
	#menu-banner{
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("images/banner/menu-banner.jpg");
		background-size: cover;
		height: 35em;
	}
}

@media screen and (max-width: 768px){
	#menu-banner{
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("images/banner/menu-banner.jpg");
		background-size: cover;
		height: 25em;
	}
}

@media screen and (max-width: 576px) {	
	#menu-banner{
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("images/banner/menu-banner.jpg");
		background-size: cover;
		height: 20em;
	}
	
	h2.heading.mb-3{
	font-size: 3em;
	font-family: 'Sofia', 'arial';
	color: #ffffff;
	}

}