.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  font-size: 20px;
}

input[type="text"],input[type="email"]
	{
		margin-right: 20px;
	}

/*
.button{
	border: 0px solid black;
	padding: 2px;
	text-align: center;
	background-color: #555555;
	color: white;
	width: 120px;
}

.button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}*/

fieldset {
   margin: 1em auto;
   background-color: #FAFCFF;
}

legend {
   background-color: #EBF4FB ;
   margin: 0 auto;
   width: 90%;
   padding: 0.25em;
   text-align: center;
   font-weight: bold;
   font-size: 100%;
}


@media screen and (max-width: 1025px) {
    .center {
		margin: auto;
		width: 80%;
		padding: 10px;
		font-size: 20px;
	}
	input[type="text"],input[type="email"]
	{
		font-size:20px;
	}
}

@media screen and (max-width: 768px) {
    .center {
		margin: auto;
		width: 100%;
		padding: 10px;
		font-size: 20px;
	}
	input[type="text"],input[type="email"]
	{
		font-size:20px;
	}
}

@media screen and (max-width: 576px) {
    .center {
		margin: auto;
		width: 100%;
		padding: 10px;
		font-size: 11px;
	}
	input[type="text"],input[type="email"]
	{
		font-size:11px;
	}
}
