body{
    background:#f8f8f8
}

div .navbar{
    background-image: linear-gradient(#dd614a, #ff9b71,  #ffdc7c);
 }

.container-fluid{
    padding: 0;
}

.row {
	margin: 0;
}

#outer .container-fluid {
    padding: 2em;
}