div .navbar{
   background-image: linear-gradient(#dd614a, #ff9b71,  #ffdc7c);
}

fieldset {
   background-color: #FAFCFF;
}

legend {
   background-color: #EBF4FB ;
   max-width: 600px;
}

@media only screen and (min-width: 1000px)
{
   .container {
      width: 50%;
   }
}