
.container-fluid{
    padding: 0;
}
fieldset {
   margin: 1em auto;
   background-color: #FAFCFF;
   width:90%;
}

legend {
   background-color: #EBF4FB ;
   margin: 0 auto;
   width: 90%;
   padding: 0.25em;
   text-align: center;
   font-weight: bold;
   font-size: 100%;
}

@media only screen and (min-width: 1000px)
{
   .container {
      width: 65%;
   }
}