body {
    background-color: white;
    color: #000;
}

.container-fluid{
    padding:0;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color:  #ffdc7c;
}

h1{
    font-family: 'Sofia';
}

.bg-admin-content {
    background: linear-gradient(90deg, rgba(217,216,214,.8) 0%, rgba(255,255,255,.8) 25%);
}
